<div id="landing-page">
	<h1 id="landing-page-header">Netflix and Chill</h1>
	<button type="button" id="join-the-party-button" class="btn btn-default" toggle="modal" data-target="#signUpModal">Join The Party</button>
</div> 

<div id="signUpModal" class="modal fade" role="dialog">
	<div class="modal-dialog modal-lg">

	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
		</div>
		<div class="modal-body" id="modal-oauth-div">
			<a href="/auth/facebook" class="btn btn-default" id="oauth-button">Login with Facebook</a>
		</div>
	</div>

	</div>
</div>