<nav class="navbar navbar-inverse" id="transparent">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Netflix and Chill</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
<<<<<<< HEAD
      <li><a href="#">About</a></li>
      <li><a href="/auth/facebook">Log In</a></li>
=======
      <li><a href="/about">About</a></li>
      <li><a href="#">Log In</a></li>
>>>>>>> b98ec3078c77761fa2a36d2b0244ffdf166d75a5
    </ul>
  </div>
</nav>
