<div id="sidebar" class="col-md-4" style="background-color: pink">
	<img src="/images/einstein.png">
	<div id="sidebar-text">
		<h2>Albert Einstein</h2>
		<p>Male, born 08/14/1979</p>
		<p>Location: ?</p>
	</div>
	<div id="sidebar-buttons">
		<a href="/users/{{user._id}}/edit" class="btn btn-default" id="edit-profile-button">Edit My Profile</a>
	</div>
</div>

