<!--This form is just to check whether our 'Create' function works  -->

<section class="container">
      <div>
      <div class="col-md-10 col-md-offset-1">

        <form method="post" action="/" id="albumForm" class="form-horizontal">
          <fieldset>

            <!-- Form Name -->
            <legend>Add what shows and movies you like!</legend>

            <!-- Movie Name-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="name">Title: </label>
              <div class="col-md-4">
              <input id="title" name="title" type="text" placeholder="Title" class="form-control input-md" required="">

              </div>
            </div>

            <!-- Submit -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="singlebutton">Add</label>
              <div class="col-md-4">
                <input id="add-movie-btn" class="btn btn-primary" type="submit"></input>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
</section>
