/*BODY AND NAVBAR CSS - J*/
body {
	background-color: #141414;
	/*temporary until merge*/
	color: white;
}

.navbar-div {
	background-color: #E50914;
}

/* TEXT CLASSES - J */
.text-sm {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	font-size: 14px;
	color: white;
}
.text-md {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	font-size: 18px;
	color: white;
}
.text-lg {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
   font-size: 22px;
   color: white;
}
.header-sm {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
   font-size: 24px;
   color: white;
}
.header-md {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	font-size: 28px;
	color: white;
}
.header-md {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	font-size: 36px;
	color: white;
}

/*button CSS - J*/
.btn-default {
	color: #E50914;
}

/*Sidebar CSS - J*/
#sidebar {
	position: fixed;
	top: 55px;
	min-height: 100%;
	width: 350px;
	background-color: red;
}
#sidebar-content {
	padding: 15px;
	padding-top: 60px;
	vertical-align: middle;
	text-align: center;
}
#sidebar-buttons {
	text-align: center;
}

#signup-button{
	margin: 0 auto;

}


/*TEMP GRID CSS*/
.search-results img{
  width: 15%;
}

.search-results h1{
  font-size: 12px;
}

.search-results div{
  display: grid;
  position: relative;
}

/*MY MATCHES*/
.fb-logo{
	width: 5%;
}

.fb-link{
}

.match-div{
	padding-top: 10px;
	background: #929292;
	border-radius: 5px;
	width: 250px;
}

.match-image{
	border-radius: 5px;
}

.match-name{
	text-align: center;
	font-size: 20px;
	color: white;
}

.match-name:hover{
	color: red;
}




/*MediaQueries*/
