<h1>Netflix and Chill.</h1>
<h2>For people who actually want to Netflix and chill.</h2>

<p>Netflix and Chill is a dating site that matches people based on shared tastes in movies and television shows. </p>

<p>Our current version connects one person to one other person. Three way chat is not currently supported... Stay tuned.</p>